body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.header {
  background-color: var(--bg6);
}
/*----------------------------SECTION-----------------------*/
.section {
  display: flex;
  flex-direction: column;
  background-color: var(--bg6);
  padding: 12px 16px;
  min-height: 100vh;
}
.section img {
  margin-top: 80px;
}

.div-text {
  padding: 12px 16px;
  margin-bottom: 80px;
}

.div-text a {
  padding: 20px 16px;
  margin: 30px 180px 80px 0px;
}

@media (min-width: 800px) {
  /*SECTION */
  .section {
    flex-direction: row;
    padding: 20px 30px;
  }
  .section img {
    margin-top: 60px;
    width: 273px;
    height: 281.42px;
  }

  .div-text {
    padding: 14px 20px;
    margin: 60px 0px 80px 0px;

    text-align: left;
  }

  .div-text h2 {
    margin: 0px;
  }

  .div-text a {
    padding: 20px 0px;
    margin: 50px 300px 30px 0px;
  }
}

@media (min-width: 1280px) {
  /*SECTION */
  .section {
    flex-direction: row;
    padding: 16px 24px;
    max-width: 100%;
  }
  .section img {
    margin-top: 60px;
    width: 510px;
    height: 510px;
    margin: auto;
  }

  .div-text {
    padding: 16px 24px;
    margin: auto;
    text-align: left;
  }
}
