body {
  margin: 0;
  font-family: var(--font-heading);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*------------------------------HEADER-----------------------*/
.header {
  background-color: var(--bg1);

  display: flex;
  justify-content: center;

  align-items: center;
  padding: 20px 20px;
}

.div-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.div-logo a {
  font-size: 20px;
  text-decoration: none;
  color: var(--paragraph);
}

.div-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
}
/*---------------------------FOOTER-----------------------------*/
footer {
  background-color: var(--bg3);

  min-height: 346px;
  padding-bottom: 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: flex-end;

  align-items: center;
  padding: 0 20px;

  color: var(--onaccent4);
}

.div-head {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-right: auto;
  gap: 50px;
}

.div-head h1 {
  color: var(--onaccent1);
}

.footer-service {
  color: var(--onaccent4);
  text-decoration: none;
}

.copyright {
  margin-bottom: 50px;
}

.div-btn-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

/*---------------------------Button Colors------------------------*/
.btn-on-light {
  background-color: var(--bg4);
  color: var(--paragraph);
  border-radius: 51.57px;
  padding: 5px;
  text-decoration: none;
}

.btn-on-light:hover {
  background-color: var(--bg1);
  color: var(--bg3);
  transition: all 0.2s ease-in-out;
}

.btn-on-light:not(:hover) {
  transition: all 0.2s ease-in-out;
}
.btn-on-dark {
  background-color: var(--bg3);
  color: var(--bg4);
  border-radius: 51.57px;
  height: 37px;
  text-decoration: none;
}

.btn-on-dark:hover {
  background-color: var(--bg4);
  color: var(--bg3);
  transition: all 0.2s ease-in-out;
}
.btn-on-dark:not(:hover) {
  transition: all 0.2s ease-in-out;
}

.link-standard {
  color: var(--paragraph);
  text-decoration: none;
}

/*--------------------------------RESPONSIVE-----------------------------------*/

@media (min-width: 800px) {
  .div-head {
    flex-direction: row;
    margin-bottom: 160px;
    width: 100%;
  }
  .div-btn-footer {
    gap: 20px;
  }
  .copyright {
    margin-bottom: 80px;
  }
}
