/*----------------------------SECTION HERO-----------------------*/

.hero {
  background-color: var(--bg1);
}

.div-hero {
  display: flex;
  flex-direction: column;
}

.terre-png {
  width: 343px;
  height: 329px;
}

.div-text-hero {
  margin: 40px 0px;
}

.div-text-hero a {
  padding: 12px 16px;
}

/*----------------------------SECTION SERVICES-----------------------*/

.services {
  padding: 12px 16px;
  justify-content: center;
  text-align: center;
  margin: 120px 0px 100px 0;
}

.div-text-services a {
  padding: 12px 16px;
}

.div-text-services a:hover {
  background-color: var(--bg1);
}

/* Cards */

.div-service-cards {
  padding: 14px 7px;

  margin-top: 16px;
  background-color: var(--accent1);
}

.div-list {
  display: flex;
}

.card-list {
  display: flex;
  gap: 20px;
}

.list-services {
  display: flex;
  padding: 14px 7px;

  font-size: 12px;
  border-radius: 8px;
}

.image-tax {
  width: 311px;
  height: 225.7px;
  margin: auto;
}

.tax {
  padding: 12px 16px;
}

/*----------------------------SECTION CLIENT-----------------------*/

/*Tout le section*/
.section-client {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  text-align: center;
}

/*section content*/
.section-avis-content {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}

.section-pers-avis {
  display: flex;
  border-radius: 8px;
}

/*card avis*/
.div-pers {
  padding: 12px 16px;
}

.div-pers h3 {
  font-weight: bold;
}

.div-pers.active {
  background-color: var(--bg3);
  color: var(--bg4);
}

.pers-avis {
  display: none;
}

.div-pers hr {
  border: 1px solid var(--divider2);
}

/*section de l'avis*/
.section-avis {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}

.pers-avis h2 {
  text-align: left;
  margin-bottom: 40px;
}

.div-info-pers {
  display: flex;
  gap: 30px;
}

.img-avis {
  width: 46.05px;
  height: 48.04px;
  border-radius: 16%;
}

/*---------------------------SECTION IMAGE-----------------------------*/
.section-img {
  width: 100%;
  height: 250px;
  background-image: url(/assets/images/dylan-gillis-KdeqA3aTnBY-unsplash\ 3.png);
  background-size: cover;
  margin: 36px 0 80px 0;
}

/*---------------------------SECTION INFO-----------------------------*/
.section-info {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
}

.div-info-title {
  margin-bottom: 80px;
}

.plan-hr {
  width: 343px;
  height: 1px;
  background-color: black;
  border: none;
  margin: 20px 0px;
}

.div-plan {
  display: flex;
  flex-direction: column;
}

.plan {
  display: flex;
  border-top: 1px solid;
  padding: 40px 16px;

  flex-direction: column;
  align-items: flex-start;
}

/*---------------------------SECTION BUILT-----------------------------*/
.section-built {
  display: flex;
  flex-direction: column-reverse;
  gap: 50px;
  padding: 12px 16px;
}

.div-custom {
  border-radius: 20px;
  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  color: var(--onaccent1);
  background-color: var(--bg3);
}

.div-custom h3 {
  color: var(--onaccent1);
}

.div-custom p {
  color: var(--onaccent1);
}

.div-custom a {
  padding: 12px 16px;
  margin-right: auto;
}

/*---------------------------SECTION FINAL-----------------------------*/

.section-final {
  display: flex;
  flex-direction: column;
  padding: 160px 24px;
  margin-top: 50px;
  background-color: var(--bg2);
  align-items: center;
  gap: 20px;
}

.section-final a {
  display: flex;
  padding: 30px 16px;
  align-items: center;
}

.section-final a:hover {
  background-color: var(--bg1);
  color: var(--paragraph);
}

/*--------------------------------RESPONSIVE-----------------------------------*/

@media (min-width: 800px) {
  .div-hero {
    flex-direction: row-reverse;
  }
  .terre-png {
    width: 273px;
    height: 262px;
    margin: auto;
  }

  /* SECTION SERVICES */
  .services {
    padding: 0 24px;
  }

  .div-text-services a {
    display: flex;
    width: 170px;
    margin: auto;
    margin-top: 40px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
  }
  .div-service-cards {
    display: flex;
    padding: 14px 20px;

    margin: 20px 24px;
    border-radius: 20px;
  }

  .image-tax {
    width: 296px;
    height: 214.82px;
  }
  .div-service-cards-irs {
    flex-direction: row-reverse;
  }

  /* SECTION CLIENT */

  /*Tout le section*/
  .section-client {
    padding: 14px 20px;
    text-align: center;
  }

  /*section content*/
  .section-avis-content {
    flex-direction: row;
    padding: 14px 20px;
  }

  .section-pers-avis {
    flex-direction: column;
    height: 384px;
  }

  .div-pers {
    padding: 14px 20px;
    text-align: left;
  }
  .div-pers {
    padding: 14px 20px;
    text-align: left;
  }
  .div-pers h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
    letter-spacing: -4.5%;
  }

  .div-pers hr {
    width: 250px;
  }
  /*section de l'avis*/
  .section-avis {
    padding: 14px 20px;
    padding-left: 30px;
    border-left: 1px solid;
    margin-left: 20px;
    height: 384px;
  }

  .pers-avis h2 {
    text-align: left;
    margin-bottom: 40px;
  }

  .div-info-pers {
    display: flex;
    gap: 30px;
  }

  .img-avis {
    width: 46.05px;
    height: 48.04px;
    border-radius: 16%;
  }

  /* SECTION IMAGE */
  .section-img {
    height: 533px;
  }

  /* SECTION INFO */
  .section-info {
    padding: 14px 20px;
  }

  .div-info-title {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
    gap: 20px;
  }
  .div-info-title p {
    width: 500px;
  }

  .plan-hr {
    width: 100%;
    height: 1px;
    background-color: black;
    border: none;
    margin: 20px 0px;
  }

  .div-plan {
    padding: 14px 20px;
  }

  /* SECTION BUILT */
  .section-built {
    flex-direction: row;
    gap: 50px;
    padding: 14px 20px;
  }

  .section-built img {
    width: 350px;
    height: 417px;
  }

  .div-custom {
    padding: 0 50px;
    justify-content: center;
  }

  /*SECTION FINAL*/
  .section-final {
    padding: 160px 50px;
    text-align: center;
  }

  .section-final a {
    padding: 30px 24px;
  }
}
@media (min-width: 1280px) {
  .div-hero {
    padding: 16px 24px;
    height: 611.49px;
    align-items: center;
  }

  .terre-png {
    width: 429px;
    height: 411.49px;
  }

  /* SECTION SERVICES */
  .services {
    display: flex;
    padding: 16px 24px;
    margin: 20px auto;
    height: 500.11px;
    align-items: center;
  }
  .div-text-services a {
    display: flex;
    width: 170px;
    margin: auto;
    margin-top: 40px;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
  }

  .all-services {
    display: flex;
    flex-direction: column;
    width: 1280px;
    background-color: aqua;
  }
  .div-service-cards {
    padding: 16px 24px;

    margin: 20px auto;
    justify-content: center;
    align-items: center;
    width: 1036px;
    height: 427.48px;
    transform: translate(-100px, 0%);
  }

  #div-service-cards-irs {
    transform: translate(100px, 0%);
  }

  .image-tax {
    width: 393px;
    height: 285.21px;
  }

  .tax {
    padding: 16px 54px;
    justify-content: center;
    align-items: center;
  }

  /* SECTION CLIENT */

  /*Tout le section*/
  .section-client {
    padding: 16px 24px;
  }

  /*section content*/
  .section-avis-content {
    padding: 16px 24px;
  }

  .section-pers-avis {
    height: 384px;
  }

  .div-pers {
    padding: 14px 20px;
    text-align: left;
  }
  .div-pers {
    padding: 16px 24px;
  }

  /*section de l'avis*/
  .section-avis {
    padding: 16px 24px;
  }

  /* SECTION IMAGE */
  .section-img {
    max-width: 100%;
    height: 600px;
  }

  /* SECTION INFO */
  .section-info {
    padding: 16px 24px;
    margin: 100px auto 100px auto;
  }

  .plan {
    padding: 16px 50px;
    border-left: 1px solid;
    border-top: none;
  }

  .div-plan {
    flex-direction: row;
    padding: 16px 24px;
  }

  /* SECTION BUILT */
  .section-built {
    padding: 16px 24px;
  }

  .section-built img {
    width: 590px;
    height: 375px;
  }

  .div-custom {
    padding: 24px 80px;
    justify-content: center;
  }

  /*SECTION FINAL*/
  .section-final {
    padding: 160px 50px;
    text-align: center;
    max-width: 100%;
  }
}
