@import "tailwindcss";
@plugin "daisyui";

/* ----------------------SECTION: HERO----------------------------- */

.hero {
  display: flex;
  background-color: var(--bg1);
  padding: 100px 0;
  color: var(--paragraph);
  flex-direction: column; /* Modifié pour être plus adapté aux petits écrans */
  align-items: center; /* Centrer le contenu */
}

.div-hero {
  display: flex;
  flex-direction: column; /* Modifié pour les petits écrans */
  align-items: center; /* Centrer le contenu */
}

.hero h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.hero p {
  font-size: 16px;
}

.terre-png {
  width: 100%; /* Rendre l'image responsive */
  max-width: 429px; /* Limiter la taille sur les grands écrans */
  height: auto; /* Garder les proportions */
}

.div-text-hero {
  width: 100%; /* Full width on smaller screens */
  max-width: 750px;
  gap: 20px;
  margin-bottom: 50px;
}

/* ----------------------SECTION: SERVICES----------------------------- */

.services {
  display: flex;
  flex-direction: column; /* Modifié pour être plus adapté aux petits écrans */
  padding: 100px 0;
  color: var(--paragraph);
  align-items: center; /* Centrer le contenu */
}

.services h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.services p {
  font-size: 16px;
}

.div-text-services {
  width: 100%; /* Rendre responsive */
  max-width: 1250px;
  gap: 20px;
}

/*------------SERVICE CARDS------------ */
.div-service-cards {
  background-color: var(--accent1);
  width: 100%; /* Full width on mobile */
  max-width: 1036px;
  height: auto; /* Ajuster la hauteur */
  margin: 0 0 20px 20px;
  padding: 50px;
  border-radius: 20px;
}

/* Styles pour mobiles et tablettes */
@media (max-width: 768px) {
  .hero {
    padding: 50px 0; /* Moins de padding sur mobile */
  }

  .hero h1 {
    font-size: 40px; /* Taille de la police réduite sur mobile */
  }

  .hero p {
    font-size: 14px; /* Moins de texte sur mobile */
  }

  .services h1 {
    font-size: 40px; /* Taille de la police réduite sur mobile */
  }

  .services p {
    font-size: 14px; /* Moins de texte sur mobile */
  }

  .div-service-cards {
    padding: 20px; /* Moins de padding sur mobile */
  }

  .section-client {
    flex-direction: column; /* Colonne sur mobile */
    width: 100%; /* Full width on smaller screens */
  }

  /* Autres styles responsives pour la section des clients */
  .section-avis-content {
    flex-direction: column; /* Changer de direction sur mobile */
    margin: 50px 20px; /* Ajuster la marge */
  }

  .section-built {
    flex-direction: column; /* Alignement en colonne */
  }

  /* Ajustez d'autres sections comme nécessaire */
}
