/*----------------------------SECTION 1-----------------------*/

.section-1 {
  padding: 12px 16px;
  margin: 50px auto;
}

.div-finance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 20px;
}

.div-finance a {
  margin-right: auto;
}
.div-finance a:hover {
  background-color: var(--bg1);
  color: var(--paragraph);
}

/*----------------------------SECTION STEP-----------------------*/
.section-step {
  margin: 60px 0;
  padding: 12px 16px;
}

.steps {
  padding: 12px 16px;
}

/*---------------------------SECTION PHILO-------------------------*/

.section-philo {
  margin-top: 60px;
  padding: 12px 16px;
}

.philo-intro {
  padding: 12px 16px;
  text-align: center;
}

.philos {
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  margin-bottom: 20px;
  border-radius: 20px;

  text-align: center;

  background-color: var(--accent1);
  color: var(--paragraph);
}

/*---------------------------SECTION GOODBYE-------------------------*/
.section-goodbye {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 16px;
  text-align: center;
  background-color: var(--bg5);
}

.div-gb {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 20px;
}
.div-gb a {
  display: flex;
  height: 63px;
}

.div-gb a:hover {
  background-color: var(--bg1);
  color: var(--paragraph);
}
