@import "variables";

.bg-bg1 {
  background-color: $bg1;
}
.bg-bg2 {
  background-color: $bg2;
}
.text-paragraph {
  color: $paragraph;
}
.font-heading {
  font-family: $font-heading;
}

.header-nova {
  @extend .bg-bg1;
  @extend .font-heading;
  height: 101px;

  &:hover {
    background-color: darken($bg1, 10%);
  }
}

.button-primary {
  background-color: $primary;
  color: $base-100;
  font-family: $font-heading;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;

  &:hover {
    background-color: lighten($primary, 10%);
  }
}
