$bg1: #a0f1bd;
$bg2: #f9f9f9;
$bg3: #2e4f21;
$bg4: #ffffff;
$bg5: #f4f7f5;
$bg6: #d2f8dc;

$accent1: #d2f8dc;
$accent2: #d7d7d7;

$paragraph: #2e4f21;

$onaccent1: #ffffff;
$onaccent2: #506349;
$onaccent3: #7d9276;
$onaccent4: #d5e4d0;

$divider1: #2e4f21;
$divider2: #c7c7c7;

$font-sans: "Inter", sans-serif;
$font-heading: "Work Sans", sans-serif;

// theme colors
$primary: #2e4f21;
$secondary: #a0f1bd;
$accent: #10b981;
$neutral: #f3f4f6;
$base-100: #ffffff;
$info: #3abff8;
$success: #36d399;
$warning: #fbbd23;
$error: #f87272;
